.DS_Store
.ocm/
config/lab.env
.lab/
/delivery/**/component-constructor-*.yaml
/delivery/**/transport-archive-*/
/delivery/**/transport-archive-*.descriptor-source/
/delivery/**/component.yaml
/delivery/**/imported-component.yaml
/delivery/**/inspect/
/delivery/**/export/
/delivery/**/deploy-*/
/site/
