# Optionales Vertiefungsmodul. Nicht Teil der minimalen Entwicklerplattform.
export COMPONENT_NAME='example.org/platform/artifactory-oss'
export COMPONENT_VERSION='0.1.0'
export LOCAL_REGISTRY='registry.airgap.example:5000'
export OCM_REPOSITORY="${LOCAL_REGISTRY}/ocm"
export IMAGE_PREFIX="${LOCAL_REGISTRY}/mirror"
export ARTIFACTORY_CHART_VERSION='107.146.29'
export ARTIFACTORY_IMAGE_TAG='7.146.29'
